
.--formUser{
    display: flex;
    flex-direction: column;
}
.labelColum{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.inputFormUser{
    height: 1.5rem;
    width: 30%;
    cursor: pointer;
}
.submitButton{
    height: 2rem;
    width: 13%;
    margin: 1rem;
    cursor: pointer;
}