.containerCreateUser{
    height: 60%;
    width: 30%;
    padding: 1rem;
    background: rgba(229, 229, 229, 0.5); 
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.createUser{
    
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.labelColum{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    
}

